.max-height-200{
  max-height: 200px;
}

.max-width-100{
  max-width: 100px;
}

.header-name{
  font-size: 40px;
}

.header-text{
  line-height: 50px;
}

.margin-right{
  margin-right: 5px;
}

.margin-5v{
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-5h{
  margin-left: 5px;
  margin-right: 5px;
}

.margin-5{
  margin: 5px;
}

.pad-10h{
  padding-left: 10px;
  padding-right: 10px;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-grow{
  flex-grow: 1;
}

.flex-half{
  flex-basis: calc(100% / 2 - 10px);
}

.nav-half{
  flex-basis: calc(100% / 2);
}

.col{
  flex-direction: column;
}

.width-full{
  width: 100%;
}

.justify-space-evenly{
  justify-content: space-evenly;
}

.justify-space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.border{
  border: 2px solid;
}

.circle{
  border-radius: 50%;
  overflow: hidden;
}

.border-rad-5{
  border-radius: 5px;
}

.border-right{
  border-right: solid 2px;
}

.border-white{
  border-color: white;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.text-plain{
  text-decoration: none;
}

.text-large{
  font-size: large;
}

.text-white{
  color: white;
}

.text-black{
  color: black;
}

.text-small{
  font-size: small;
}

.bg-blue{
  background-color: #0b2b3f;
}

.bg-white{
  background-color: white;
}

.bg-black{
  background-color: #353535;
}

.active{
  background-color: #284B63;
}


.logo{
  width: 50px;
  height: 50px;
}

.project-container{
  height: 200px;
  width: 150px;
}